.map-wrapper {
  width: 100%;
  height: 28em;
  background-color: var(--primary-color);
}

.contact-item-wrapper .info {
  display: flex;
  gap: 1em;
}
.contact-item-wrapper .info .icon .ic {
  color: #cd1f1f;
  font-size: 1.5rem;
  
}
.contact-item-wrapper .info p a {
  color: #333;
  transition: all 500ms linear;
}
.contact-item-wrapper .info p a:hover {
  color: #cd1f1f;
}

.info .icon{
    font-size: 1.5rem;
}
.info p{
    color: #333;
}