*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root{
  --primary-color: rgb(100, 5, 64);
  --primary-color-hover: rgb(121, 4, 76);
  --white-color: rgb(255, 255, 255);
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-color);
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.section{
  padding: 60px 0;
}